
* { box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  place-items: center;     
  min-height: 100vh;
}

#symbol_map {
  display: inline-block;   
}
