body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;  
  align-items: center;     
  height: 100vh;           
}

#symbol_map {
  width: 900px;   
  height: 600px;  
}


